body{
   background-color: rgb(0, 8, 2);
}
h1{
   color: white;
   text-align: center;
}
.image{
   width: 250px;
   border: 1px solid white;
   padding: 8px;
   margin-left: 48px;
   display: inline-block;
}
.image:hover{
   border: 1px solid wheat;
   transition: 0.5s;
}
.image img{
   width: 250px;
}
.image h4{
   color: white;
}